<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="fixed">Valor 1: </ion-label>
    <ion-input type="number" [(ngModel)]="valor1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Valor 2: </ion-label>
    <ion-input type="number" [(ngModel)]="valor2"></ion-input>
  </ion-item>
  <div class="d-botoes">
    <ion-button (click)="somar()">+</ion-button>
    <ion-button (click)="dividir()">/</ion-button>
    <ion-button (click)="multiplicar()">x</ion-button>
    <ion-button (click)="subtrair()">-</ion-button>
    <ion-button (click)="raizQuadrada()">√</ion-button>
    <ion-button (click)="fatorial()">n!</ion-button>
  </div>

  <ion-item>
    <ion-label position="fixed">Resultado: </ion-label>
    <ion-input readonly="true" [(ngModel)]="resultado"></ion-input>
  </ion-item>
</ion-content>
