<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jogo de adivinhação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label position="fixed">Adivinhe o número</ion-label>
  <ion-input type="number" [(ngModel)]="numero"></ion-input>

  <ion-label position="fixed">Tentativas restantes: </ion-label>
  <ion-label position="fixed">{{tentativas}}</ion-label>

  <br>
  <ion-label position="fixed">Pista: </ion-label>
  <ion-label position="fixed">{{mensagem}}</ion-label>

  <ion-button (click)="adivinharNumero()" expand="full">Reiniciar jogo</ion-button>
</ion-content>
